.button {
  min-width: 116px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-size: var(--s);
  line-height: inherit;
  padding: var(--xs) var(--s);
  background-color: var(--accent-00);
  color: var(--text-00);
  border-radius: var(--xs);
  box-shadow: var(--2xs) var(--2xs) var(--xs) 0px var(--neutral-70);
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button:disabled {
  opacity: 0.4;
  cursor: default;
}
