.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s);
}

.filters__name {
  align-self: start;
  font-weight: 700;
}

.filters__search {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  gap: var(--m);
}

.filters__input {
  padding: var(--xs);
  border: 1px solid var(--neutral-70);
  border-radius: var(--xs);
}

.filters__name-search {
  & input {
    width: 200px;
  }
}

.filters__brand-search {
  & input {
    width: 160px;
  }
}

.filters__price-search {
  min-width: 288px;

  & input {
    width: 96px;
  }
}
