.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--s);
}

.filters__name {
  /* align-self: start; */
  font-weight: 700;
}

.filters__search {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  row-gap: var(--xs);
}

.filters__input {
  padding: var(--xs);
  border: 1px solid var(--neutral-70);
  border-radius: var(--xs);
}

.filters__input:focus {
  border-color: var(--accent-00);
  outline: 1px solid var(--accent-00);
}

.filters__name-search {
  display: flex;
  align-items: center;
  column-gap: var(--s);

  & input {
    width: 180px;
  }
}

.filters__brand-search {
  display: flex;
  align-items: center;
  column-gap: var(--s);

  & input {
    width: 160px;
  }
}

.filters__price-search {
  min-width: 288px;
  display: flex;
  flex-direction: column;
  row-gap: var(--xs);

  & input {
    width: 110px;
    text-align: right;
  }
}

.filters__price-wrapper {
  display: flex;
  align-items: center;
  column-gap: var(--xs);
}

@media screen and (min-width: 953px) {
  .filters__search {
    flex-direction: row;
    column-gap: var(--l);
  }

  .filters__price-search {
    flex-direction: row;
    align-items: center;
    column-gap: var(--xs);
  }

  .filters__name-search {
    & input {
      width: 190px;
    }
  }
}
